.center {
    text-align:center;
}

.block {
    display:block;
}

button i {
    margin-left:10px;
}

#RenderButtonContainer button {
    margin:20px;
    padding-left:40px;
}

#RenderButtonContainer button img {
    height: 40px;
    position: absolute;
    left: 0;
    mix-blend-mode: multiply;
    margin-right: 12px;
}